
.footer {
  background: $argoDarkBlue;

  .logo-container {
    margin: 0 auto;
    padding: 45px 0;
    padding-bottom: 120px;
    width: 330px;

    div {
      // Need a proper font face
      color: #32A4D8;
      font-size: 16px;
      font-style: italic;
      margin-left: 92px;
      padding-top: 10px;
    }
  }
}
