.formBuilderElement {
    label,select {
        margin:0;
        display:block;
    }

    .form-group {
        margin:0;
    }

    .required {
        input, select, textarea, .radioGroup .options {
            border-bottom: 2px solid #e22929
        }
    }

    .radioGroup {
        label {
            display:block !important;
        }

        .options {
            display:inline-block;
            margin: 0.5em 0px;

            .radio {
                display:inline-block;
                height: 10px;
                margin: 0px;
                padding: 0px 0px 2em 0px !important;
                top: 2px;

                .radioText {
                    padding:0px !important;
                }
            }
        }
    }
}
