.landing-app {
  button {
    background-color: $argoLightBlue;
    color: #fff;

    &:last-of-type {
      margin: 0;
    }

    // @media (min-width: $screen-sm-min) {
      // font-size: 1.6vw;
      font-size: 20px;
    // }

    // @media (min-width: $screen-md-min) {
      // font-size: 1.4vw;
      // font-size: 20px;
    // }
  }
}
