.formBuilderElement {
  .form {
    margin-top: 1em;

    label {
      font-family: "Lato";
      font-size: 1.1em;
      margin-bottom: 0.6em;
      font-weight: 200;
      color: #dcdcdc;
      display: inline-block;
      padding: 0 0 0 0px;
    }

    .supplementalContainer {
      padding-left: 1em;
    }

    .group {
      border-radius: 5px 5px 0 0;
      background-color: #0e5a7d;
      margin: 0px 0px 5px 0px;
      border-bottom: 2px solid #08415c;
      padding: 20px;
    }

    .radioGroup .radio{ 
      padding:0;

      label {
        margin-right: 1em;
      }

      .radioText {
        font-family: "Lato";
        margin-left: 1.3em;
      }
    }

    .select {
      width:100%;

      select{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        padding: 0 0 0px 20px;        
        color: #929997;
        font-weight: 100;
      }
    }

    textarea {
      font-family: "Lato";
      background: #08415c !important;
      border: 1px solid #0e5a7d !important;
      color: white;
      transition: all 1s;

      &.filled{
        background-color:#FAFFBD !important;
        color:black;
        border:0;
      }

      &.disabled {
        background-color: #bfbfbf !important;
        border: 0;
        cursor: default;
      }
    }

    input[type=text] {
      padding-left: 20px !important; 
    }

    input[type=email] {
      padding-left: 20px !important; 
    }

    input, select {
      font-family: "Lato";
      margin: 0 0 1em 0;
      border-radius: 3px;
      background-color: #08415c;
      border: 1px solid #0e5a7d;

      color: white;
      transition: all 1s;

      &.filled{
        background-color:#FAFFBD;
        color:black;
        border:0;
      }

      &.disabled {
        background-color: #bfbfbf !important;
        border: 0;
        cursor: default;
      }

    }
  }
}