// This styling makes the iframe simulate the live site

.mock-site-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.mock-site {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0px; 
}

.mock-site-blocker {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
