.RatingResults__container {
  margin: 25px 0;
  text-align: center;

  > div > * + * {
    margin-top: 1em;
  }

  .legalText {
    p {
      font-size: .5rem;
    }
  }
}

.formFooter, .formFooter .list {
  display: inline-block;
  position: relative;

  button, a {
    display: inline;
    margin: 0 10px;
  }
}