.RatingResults__container {
  margin: 25px 0;
  text-align: center;

  > div > * + * {
    margin-top: 1em;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }

  strong {
    font-weight: 700;
  }

  .legalText {
    p {
      font-size: .5rem;
    }
  }
}