.validation_component {
  text-align: right;

  select {
    height:30px;
    padding:15px;
  }

  .validation_input {
    margin-top:0;
    border-radius: 0;
    font-size: 1.2em;
    padding: 10px;
    width:100%;

    &.default {
      border: none;
    }

    &.success {
      border: 2px green solid;
      background-color: white !important;
    }

    &.error {
      border: 2px #e74c3c solid;
      background:#f9d3cf !important;
    }
  }

  radiogroup.validation_input {
    height: 40px;
    padding: 10px;
  }

  select {
    height: 40px;
  }

  .validation_icon{
    position:absolute;
    top:33px;
    right:5%;
    height:0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
    -webkit-transition: visibility 0.3s, opacity 0.3s ease-in-out;

    &:after{
      opacity: 0;
      transition: visibility 0.3s, opacity 0.3s ease-in-out;
      -webkit-transition: visibility 0.3s, opacity 0.3s ease-in-out;
    }
  }

  .error + .validation_icon {
    visibility: visible;
    opacity: 1;

    &:after {
      content:"x";
      color:red;
      font-family: 'Arial';
      visibility: visible;
      opacity: 1
    }
  }

  .validation_text {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 3px;
    margin-left: 5px;
    color:#cc1414;

    position: relative;
    top: -21px;
    left: -10px;

    &.hide {
      display:none;
    }
  }

}
