.RatingForm__container {
  width: 100%;
  margin: 3em auto 0 !important;

  font-family: 'Lato';

  input,
  textarea,
  select,
  radiogroup,
  small {
    display: block;
  }

  input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
  }

  radiogroup {
    > * + * {
      margin-left: 10px;
    }
  }

  h3 {
    font-size: 5em;
    margin: 0px !important;
    padding: 0 0 10px 0!important;
    color:#32a4d8;
  }

  fieldset {
    padding: 20px;
    border: 1px white solid;
    margin: 10px 0;
  }

  .__react_component_tooltip{
    width: 400px;
    padding: 10px;
    line-height: 20px;
    background: #08415C!important;
    border: 1px solid #CFD2CD;
    color: #CFD2CD!important;
    &:after{
      border-top-color: #CFD2CD!important;
    }
  }

  .question-mark{
    margin-left: 2px;
    cursor: pointer;
  }

  .double{
    line-height: 30px;
  }

  .area-label{
    display: inline-block;
    line-height: 1em;
    margin:0px;
    padding:1em 0 8px 0;
    font-size:1.3em;
  }

  .validation_component {
    text-align: left;
  }
}

.confirmationDialog {
  .modal-header {
    padding: 1em 3em;

    .modal-title {
      font-size: 2.5em;
      font-weight: bold;
    }

  }

  .modal-content {
    border-radius: 0px;
    background-color: rgba(8, 65, 92, 0.98);

    .item {
      padding: 0.3em 0px;

      .left {
        font-weight: normal;
        font-size: 0.7em;
        padding: 0px;
        float:none;
        text-decoration: underline;
      }

      .text {
        display: inline-block;
        color: white;
        padding: 0px;
        font-size: 1em;
      }

    }

    .submitButtons {
      padding: 0.5em 2em;
    }

  }
}
