.body-clearance-pass {
  background-color: white !important;

  .navbar {
    display: none !important;
  }
}
.clearanceConfirmation{
  background-color: #ffffff !important;
  color: rgba(0,0,0,1) !important;
  min-height: 900px;
  padding: 10px;
  text-align: center;
  h3 {
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
  }
  h2 {
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
  }
  .infoContainer {
    padding: 10px;
    max-width: 30%;
    margin: auto;
    h4{
      font-family: Lato;
      font-size: 16px;
      text-align: left;
      color: #000000;
    }
    p {
      width: 100%;
    }
    .footer{
      padding-top: 80px;
    }

  }
}

.clearancePassContainer {
  background-color: rgba(65, 117, 5, 0.17) !important;
  color: rgba(0,0,0,1) !important;
  min-height: 900px;
  padding: 10px;
  font-family: Lato;
  text-align: center;
  h3 {
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
  }
  h2 {
    font-family: Lato;
    font-size: 32px;
    font-weight: bold;
    color: rgba(65, 117, 5, 0.73);
  }
  .infoContainer {
    padding: 10px;
    text-align: left;
    max-width: 75%;
    margin: auto;
    h4{
      font-family: Lato;
      font-size: 16px;
      text-align: left;
      color: #000000;
    }
  }
  .passPrimary{
    background-color: #417505;
    border-radius: 1px;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    padding: 0px 10px 0px 10px;

  }
  .passPrimary:hover{
    background-color: rgb(40, 71, 0);
  }
  .confirmationLoader {
    font-family: Lato;
    font-size: 14px;
    margin-top: 15px;
    clear: both;
    color: #4a4a4a;
  }
  .tableElement {
    padding-top: 10px;

    .react-bs-table{
      border-style: solid;
      border-width: 1px;
      border-color: #000000;
    }
    td {
      border-color: #000000
    }
    th {
      font-weight: bold
    }
  }
  label{
    margin-bottom: 2px;
    font-weight:900;
    font-size: 14px;
  }
  .form-control-static{
    min-height: 0px;
    font-size: 13px;
    font-weight: normal

  }
  .form-group{
    margin-top: 10px;
    margin-bottom:5px;
  }
}