.newUserComponent {
  background-color: #0e5a7d;
  padding:2em;
  margin-bottom: 3em;
  
  h1 {
    color: #32a4d8;
    font-size: 28px;
    margin: 0;
    margin-bottom: 10px;
  }

  p {
    font-size: 12px;
    line-height: 15px;    
	  font-style: italic;
	  letter-spacing: 1px;
	  color: #dcdcdc;
  }

  .emailInput {
    background-color: #08415c;
    border: none;
    border-bottom: 2px solid red !important;
    color: white !important;
    width: 100%;
    height: 34px;
    font-family: Raleway;
  }

  .adminInput {
    margin-right: 1em;
    color: #dcdcdc;
    
    input {
      top: -2px;
    }
  }
  
  #newUserEmail {
   margin-bottom: 30px; 
  }
}