.backgroundNewUser {
  background-color: #0e5a7d;
  padding: 20px
}

.headerNewUser {
  color: #32a4d8;
  font-size: 28px;
  line-height: 1.11;
  padding-bottom: 10px;
}

.newUserEmail {
  background-color: #08415c;
  border-bottom: 2px solid red !important;
  color: white !important;
  width: 232px;
  height: 34px;
}

.bodyNewUser {
  width: 237px;
  height: 42px;
  font-size: 13.2px;
  font-style: italic;
  line-height: 1.06;
  letter-spacing: 1px;
  color: #dcdcdc;
  margin-bottom: 20px;
}

#newUserEmail {
 margin-bottom: 30px; 
}