.background-new-user {
  background-color: #0e5a7d
}

.header-new-user {
  color: #32a4d8;
  font-size: 28px;
  line-height: 1.11;
}

.newUserEmail {
  background-color: #08415c;
  border-bottom: 2px solid red !important;
  color: white !important;
  width: 232px;
  height: 34px;
}