
.main-nav {
  background: $argoDarkBlue;
  color: #fff;
  top: 0;

  ul {
    padding: 0;
  }

  $liBorderWeight: 5px;

  li {
    cursor: pointer;
    list-style-type: none;
    text-transform: uppercase;
  }

  // Mobile only

  @media (max-width: $mobileMaxWidth) {
    $fontSize: 24px;
    bottom: 0;
    left: 0;
    line-height: $fontSize * 2;
    font-size: $fontSize;
    padding-top: $mainModalPadding;
    position: fixed;
    right: 0;

    .menu-btn,
    .close-btn {
      background: none;
      background-color: none;
      border: none;
      color: #fff;
      outline: none;

      @media (min-width: $desktopMinWidth) {
        color: $argoMediumBlue; 
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .logo {
      background-image: url('/images/logo-argo-icon.svg');
      background-position: 50% 45%;
      background-repeat: no-repeat;
      background-size: 50px;
      height: 43px;
      width: 100%;
    }

    .menu-btn,
    .close-btn,
    .logo {
      cursor: pointer;
    }

    ul.main-list {
      padding: 0 20vw;
      margin-top: 20vw;
      text-align: center;
    }

    li {
      margin-bottom: 23px;
    }

    .site-map {
      background: none;
      color: #fff;
      padding: 8px;
      text-align: center;

      h3 {
        display: none;
      }

      ul {
        padding: 0;

        li {
          border-bottom: 1px solid $argoLightYellow;
          margin-bottom: 8px;
          padding-bottom: 8px;
        }
      }

      .annual-report-thumb {
        display: none;
      }
    }

    a {
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  // Desktop only

  @media (min-width: $desktopMinWidth) {
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    margin-top: -4px;
    position: absolute;
    right: 150px;

    ul {
      padding: 0;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    li {
      display: inline;
      margin-right: 20px;
      padding: 14px 40px;

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        border-bottom: $liBorderWeight solid $argoLightYellow;
      }
    }
  }
}
