.tableComponent {
  background-color:#FFFFFF;
  color: black;
  padding:2em;
  border-radius: 3px;
  margin-bottom: 3em;

  h1 {
    padding:0;
    margin:0;
  }

  .table {
    text-align: right;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;

    thead {
      tr > th {
        border: none;
        padding:10px;
        
        font-size: 12px;
        font-weight: 500;
        line-height: 1.25;
        text-align: left;
        color: rgba(0, 0, 0, 0.54);
      }
    }

    td {
      padding:10px;
      vertical-align: unset;
      color: rgba(0, 0, 0, 0.87);
    }

    .btn {
      background-color:white;
      border-radius: 0px;
      color:#4184f3;
      margin:0px;
      padding:5px;
      text-transform: uppercase;
    }

    .react-bs-table-pagination {
      margin:0px;
    }

    .pagination {
      margin: 0px;
    }
  } 

  .searchInput {
    margin-bottom:1em;
    padding:3px;
    width: 176px;
    border: solid 1px #979797;
  }

  .updateColumn {
    text-align:center;
  }

  .react-bs-table {
    margin:0;
  }
}